In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [155]:
df=pd.read_json(r'C:\Users\abhis\Documents\imdb_data\imdb_data\items.json',encoding='utf-8')

ValueError: Trailing data

In [124]:
df['vote'].str.extract('(\d+(\.\d+)?[K|M])')

         0    1
0      82K  NaN
1      80K  NaN
2     262K  NaN
3      12K  NaN
4     8.2K   .2
...    ...  ...
1645   NaN  NaN
1646   NaN  NaN
1647   NaN  NaN
1648   NaN  NaN
1649   NaN  NaN

[1650 rows x 2 columns]

In [28]:
def extract_number(vote):
    match = re.search(r'\d+K|\d+\.\d+M', vote)
    if match:
        return match.group()
    return None

In [147]:
df.head()

,Title,releaseYear,desc1,Meta_score,duration,rating,image,vote,rated
0,1. Alien: Romulus,2024.0,While scavenging the deep ends of a derelict s...,64.0,1h 59m,7.4,https://m.media-amazon.com/images/M/MV5BMDU0Nj...,82K,R
1,2. Longlegs,2024.0,"In pursuit of a serial killer, an FBI agent un...",77.0,1h 41m,6.8,https://m.media-amazon.com/images/M/MV5BMmVkZW...,80K,R
2,3. Deadpool & Wolverine,2024.0,Deadpool is offered a place in the Marvel Cine...,56.0,2h 8m,8.0,https://m.media-amazon.com/images/M/MV5BNzRiMj...,262K,R
3,4. Blink Twice,2024.0,When tech billionaire Slater King meets cockta...,66.0,1h 42m,6.9,https://m.media-amazon.com/images/M/MV5BMzczYm...,12K,R
4,5. The Crow,2024.0,Soulmates Eric and Shelly are brutally murdere...,30.0,1h 51m,4.7,https://m.media-amazon.com/images/M/MV5BMjEyOW...,8.2K,R

In [148]:
df['vote'].str.extract(r'(\d+K|\d+\.\d+M)')

         0
0      82K
1      80K
2     262K
3      12K
4       2K
...    ...
1645   NaN
1646   NaN
1647   NaN
1648   NaN
1649   NaN

[1650 rows x 1 columns]

In [149]:
df[df['Meta_score']>=90]

,Title,releaseYear,desc1,Meta_score,duration,rating,image,vote,rated
52,53. Mad Max: Fury Road,2015.0,"In a post-apocalyptic wasteland, a woman rebel...",90.0,2h,8.1,https://m.media-amazon.com/images/M/MV5BN2EwM2...,[Â (1.1M)],R
71,72. Oppenheimer,2023.0,The story of American scientist J. Robert Oppe...,90.0,3h,8.3,https://m.media-amazon.com/images/M/MV5BMDBmYT...,[Â (790K)],R
74,75. The Lord of the Rings: The Fellowship of t...,2001.0,A meek Hobbit from the Shire and eight compani...,92.0,2h 58m,8.9,https://m.media-amazon.com/images/M/MV5BN2EyZj...,[Â (2M)],PG-13
79,80. The Godfather,1972.0,The aging patriarch of an organized crime dyna...,100.0,2h 55m,9.2,https://m.media-amazon.com/images/M/MV5BM2MyNj...,[Â (2M)],R
84,85. Pulp Fiction,1994.0,"The lives of two mob hitmen, a boxer, a gangst...",95.0,2h 34m,8.9,https://m.media-amazon.com/images/M/MV5BNGNhMD...,[Â (2.3M)],R
...,...,...,...,...,...,...,...,...,...
1344,1345. Seven Samurai,1954.0,Farmers from a village exploited by bandits hi...,98.0,3h 27m,8.6,https://m.media-amazon.com/images/M/MV5BZjliMW...,[Â (371K)],Not Rated
1383,1384. The Florida Project,2017.0,"Set over one summer, the film follows precocio...",92.0,1h 51m,7.6,https://m.media-amazon.com/images/M/MV5BMjg4Zm...,[Â (131K)],R
1384,1385. Spotlight,2015.0,The true story of how the Boston Globe uncover...,93.0,2h 9m,8.1,https://m.media-amazon.com/images/M/MV5BMjIyOT...,[Â (507K)],R
1481,1482. Gravity,2013.0,"Dr Ryan Stone, an engineer on her first time o...",96.0,1h 31m,7.7,https://m.media-amazon.com/images/M/MV5BNjE5Mz...,[Â (869K)],PG-13
1545,1546. Some Like It Hot,1959.0,"After two male musicians witness a mob hit, th...",98.0,2h 1m,8.2,https://m.media-amazon.com/images/M/MV5BNzAyOG...,[Â (287K)],Approved

In [150]:
df['releaseYear'].value_counts()

releaseYear
2024.0    221
2023.0    140
2022.0     77
2019.0     57
2016.0     52
         ...
1942.0      1
1966.0      1
1940.0      1
1955.0      1
1970.0      1
Name: count, Length: 81, dtype: int64

In [151]:

df['rated'].value_counts()

rated
R            743
PG-13        473
PG           180
             111
Not Rated     45
G             29
TV-MA         21
Approved      16
NC-17         11
TV-14          6
Unrated        6
TV-PG          2
X              1
TV-G           1
16+            1
Passed         1
GP             1
18+            1
TV-Y7          1
Name: count, dtype: int64

In [140]:
df['desc1']=df['desc1'].dropna()
df['rating']=df['rating'].fillna(0)

In [154]:
df['vote'].str.replace('\xa0()','')

0        82K
1        80K
2       262K
3        12K
4       8.2K
        ...
1645     NaN
1646     NaN
1647     NaN
1648     NaN
1649     NaN
Name: vote, Length: 1650, dtype: object

In [142]:
df.isna().sum()

Title            0
releaseYear      5
desc1            5
Meta_score     173
duration         0
rating           0
image            5
vote             0
rated            0
dtype: int64